################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/Properties
/FiguresDotStoreTests/bin/Debug/net5.0
/FiguresDotStoreTests/obj
